@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .kinetic-gradient {
    background: linear-gradient(135deg, #a13900 0%, #ff793e 100%);
  }
  .kinetic-blur {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
